[Unit]
Description=Mount SSHFS at startup

[Service]
Type=oneshot
ExecStartPre=/bin/mkdir -p /home/%u/Notes
ExecStart=/usr/bin/sshfs rocky@150.136.94.132:Notes /home/%u/Notes -o IdentityFile=/home/%u/ssh-key.pub
RemainAfterExit=yes

[Install]
WantedBy=default.target
