[Unit]
Description=Mount Notes server at startup with sshfs

[Service]
Type=oneshot
ExecStartPre=/bin/mkdir -p /home/%u/Notes
ExecStart=/usr/bin/sshfs rocky@150.136.94.132:Notes /home/%u/Notes -o reconnect,ServerAliveInterval=15,IdentityFile=/home/%u/ssh-key.pub
RemainAfterExit=yes

[Install]
WantedBy=default.target
